<h3 class="text-center white ">Application List</h3>

<div class="action-row">
  <div class="input-group">
    {{input value=appName class="form-control"}}
    <span class="input-group-btn">
      <button {{action "create" appName}} class="btn btn-default text-center">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
      </button>
    </span>
  </div>
</div>

<ul class="app-list">
  {{#each model as |app|}}
    {{app-item item=app destroyApp="destroyApp"}}
  {{/each}}
</ul>
