<span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
<label>{{#link-to 'apps.show' item}}{{item.name}}{{/link-to}}</label>
<button class="destroy" {{action "destroyApp" item}}><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
